# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.iml

# Docker
*.env
*.env.*
.dockerignore
docker-compose.override.yml

# Build output
dist/
build/

# Temporary files
*.tmp
*.temp

# Coverage reports
coverage/

# Miscellaneous
*.bak
*.swp
*.swo
*.orig